.completer-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  max-width: 94%;
  width: auto;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -6px;
  background-color: #ffffff;
}

.completer-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
  display: inline-block;
  width: 100%;
}

.completer-selected-row {
  background-color: lightblue;
  color: #ffffff;
}

.completer-description {
  font-size: 14px;
}
