<div class="completer-dropdown" *ngIf="searchActive || error || items != null">
  <div *ngIf="searchActive" class="completer-message">{{ textSearching }}</div>
  <div *ngIf="error" class="completer-message">An error has occurred</div>
  <div *ngIf="!searchActive && (items != null && items.length === 0)" class="completer-message">{{ textNoResults }}</div>
  <div (mouseenter)="hovering = true" (mouseleave)="hovering = false; currentIndex = null" (click)="onClick()" (mouseover)="currentIndex = i"
    class="completer-row" [class.completer-selected-row]="i === currentIndex" *ngFor="let item of items; let i = index">
    <div class="completer-title">{{item.title}}</div>
    <div *ngIf="item.description" class="completer-description">
      {{item.description}}
    </div>
  </div>
</div>
